<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>User</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @friends.each do |friend| %>
  <tr>
    <td>
      <%= friend.friend_id %>
    </td>
    <td>
      <%= friend.status %>
    </td>
    <td>
      <%= link_to 'Profiles', profile_path(friend.friend_id) %>
    </td>
    <td>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
