<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @article.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Url:</b>
  <%= @article.url %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>

<h2>Translations</h2>
<% @article.translations.each do |translation| %>
  <h3><%= h translation.title %></h3>
  <p><%= h translation.body %></p>
  <p><%= link_to 'permalink', article_translation_path(translation) %></p>
<% end %>

  <p><%= link_to 'Create Your New Translation', new_article_translation_path(@article) %></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
