<h1>Welcome <%= h current_user.nickname %></h1>

<p>Find me in app/views/welcome/index.html.erb</p>
<ul>
	<li><%=link_to 'articles', articles_path %></li>
	<li><%=link_to 'friends', friends_path %></li>
	<li><%=link_to 'events', events_path %></li>
	<li><%=link_to 'questions', questions_path %></li>
</ul>
