<p id="notice"><%= notice %></p>

<h2><%= h @event.title %></h2>
<p><%= h @event.body %></p>
<table>
	<tr><th>Start</th><td><%= @event.start %></td></tr>
	<tr><th>End</th><td><%= @event.end %></td></tr>
</table>

<% attendance_path = @attendance.id ? event_attendance_path(@event.id,@attendance) : event_attendances_path(@event.id) %>
<%= form_for @attendance, :url=>attendance_path do |f| %>
	<%= f.select :rsvp,[['Yes','yes'],['No','no'],['Maybe','maybe']] %>
  <%= f.submit "#{(@attendance?'Update':'Submit')} Attendance"%>
<% end %>

<p><%= link_to 'Permalink', @event %> <%= link_to 'Edit', edit_event_path(@event) %> <%= link_to 'Destroy', @event, confirm: 'Are you sure?', method: :delete %></p>
<h2>Attendances</h2>
<h3>Says Yes:</h3>
<ul>
  <% @event.attendances.reject{|e|e.rsvp!='yes'}.each do |attendance| %>
    <li><%= attendance.user.nickname %></li>
  <% end %>
</ul>
<h3>Says Maybe:</h3>
<ul>
  <% @event.attendances.reject{|e|e.rsvp!='maybe'}.each do |attendance| %>
    <li><%= attendance.user.nickname %></li>
  <% end %>
</ul>
<h3>Says No:</h3>
<ul>
  <% @event.attendances.reject{|e|e.rsvp!='no'}.each do |attendance| %>
    <li><%= attendance.user.nickname %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
