<p id="notice"><%= notice %></p>

<p><%= h @letter.sender.nickname %> to <%= h @letter.receiver.nickname %></p>
<p>
  <%= @letter.text %>
</p>
<p><% h @letter.created_at.to_s %></p>

<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
