<h1>Letter to <%= h @user_write_to.nickname %></h1>
<p>Find me in app/views/letter_box/conversation.html.erb</p>

<%= form_for @new_letter do |f| %>
  <%= f.label :text %>
  <%= f.text_area :text %>
  <%= f.hidden_field :receiver_id %>
  <%= f.submit %>
<% end %>

<% @letters.each do |l| %>
  <div>
    <%= h l.sender.nickname %> : <%= h l.text %>
  </div>
<% end %>
